<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @user.nome %>
</p>

<p>
  <b>Cidade:</b>
  <%= @user.cidade_nome %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
